<p>Available Tacos to be consumed</p>
{{#each results}}
  {{#unless this.devoured}}
  <form>
    <input type="text" name="devoured" value= 1>
    <input type="text" name="id" value={{this.id}}>
    <label>{{this.name}}</label>
    <button class="consume" type="submit">Devour Taco?</button>
  </form>
  {{/unless}}
{{/each}}

<p>Devoured Tacos</p>
<ul>
  {{#each results}}
    {{#if this.devoured}}
      <li> The {{this.name}} taco has already been consumed.</li>
    {{/if}}
  {{/each}}
</ul>

<form action="/" method="post">
  <textarea name="name" cols="30" rows="10"></textarea>
  <button type="submit">submit</button>
  <label for="name">Please enter a taco you would like to eat. Then click "Submit".</label>
</form>